<div class="container">
  <h1 class="text-center">Result</h1>
  <p class="text-center"> <%= @message %> </p>
  <p class="text-center"> <%= "Total score in session: #{session[:total_score]}" %> </p>
  <p class="text-center"> <%= link_to "Play again", new_path %> </p>
</div>
